/* .margin {
    margin-top: 120px;
} */

.container {
    background: rgba(0, 0, 0, 0.6);
    border-top: solid rgba(255, 255, 255, 0.2);
    display: flex;
}

.credits {
    margin-left: 100px;
    margin-right: 50px;
}

.links {
    margin-right: 100px;
}

.links a {
    margin-left: 20px;
    transition: 300ms;
}

.links a:hover {
    color: rgba(255, 255, 255, 0.8);
}