.recipe_container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.card{
    margin: 15px;
    /* margin: 30px; */
    height: 300px;
    background: black;
    /* background: rgb(75, 255, 75); */
    background: rgba(0,0,0,0.5);
    cursor: default;
    transition: all 400ms ease;
    outline: 5px solid #111111;
    outline-offset: -4px;
    cursor: pointer;
}
.card:hover .image__img {
    background: #1b1b1b;
    outline: 5px solid black;
}

.image{
    position: relative;
    width: 100%;
  }


  
  .image__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:220px;
    outline: 5px solid #111111;
    outline-offset: -4px;
    user-select: none;
    transition: all 400ms ease;
  }
  .card:hover{
    background: black;
    outline: 5px solid black;
  }

  .card .title{
    text-align: center;
  }